<article>
  <h2 class="blog-title">SEPTEMBER 25, 2014: LEARNING STYLES</h2>

  <div class="content">

  <p class="tab">Things I've learned so about my learning processes in the past
week:</p>

    <ul>
      <li>I get really into narrative/game-based projects. I knew this before, but
    my favorite coding projects thus far are Dungeon, Hangman, and Scrabble, so
    now I <em>definitely</em> know.</li>
      <li>While I like farmers' markets, I am definitely not interested in
      data about farmers' markets in CSV files, though I do see why manipulating
      databases is very useful. I am not sure if this means I will probably
      uninterested in non-CVS databases in the future.</li>
      <li>Pair programming is intense but also rewarding. My code for Scrabble was
     way, way cleaner than usual from pairing with "Clean Code" Bri. Still not
     exactly 'clean', but I actually consciously thought about formatting sometimes
     while I was working on the project, and I normally do not care at all
     about formatting.</li>
     <li>Listening to music helps me concentrate. I used to think it did the
      opposite (because I think it did do the opposite)! I listened to a ton of
      <a href="http://youtu.be/Nkm6BXtTX58?list=PLSgIiFxUu-HZCVfy1HNP0Ni65r3AFAzNd" target = "_blank">
      Real Estate</a> this week, a band which I used to think was kind of boring,
      but now I don't think they're boring anymore, and I can totally sit in my
      chair for four hours straight with Real Estate on. (Not sure if that last
      part is a good thing, but hey, I'm learning)</li>
      <li>Blogging is fun! I haven't blogged in many moons, but it feels good to move
      away from <a href="http://knowyourmeme.com/memes/weird-twitter" target = "_blank">
      Weird Twitter</a> sometimes and write non-abstract things and make it all
      vertical-ly and scroll-y. Did you know I used to make webpages in Notepad
      and wrote  "pre-blogs" using Notepad in the pre-blog, late 90s era and
      talked to other teenaged girls who made webpages using Notepad? You probably
      did not know because it was totally uncool then, so I never told you. But I
      felt like I probably learned a lot about life in those cavegirl times, and
      maybe it has something to do with the fact that I was writing a ton every
      day. So I'm glad to be back at it.</li>
    </ul>
    <p class="tab"><em>Community Event Wrap-Up</em>: I attended the Girl Develop
It Study Group on September 14 @ NIRD HQ. I had a really nice and laid-back
coding session here, and it was nice to chat a little with other coders (mostly
fellow Adies but also one really cool Economics grad student) in a
relaxed, red + natural wood colored setting. I tried to clean up my <a href
="https://github.com/skwak/hangman" target = "_blank">Hangman</a> a lil bit and
felt kind of good of where I was at. I also felt that the feeling was probably
going to change soon, so I thought that I should enjoy it a bit while at the
same time understanding that I better not get too comfortable with that
feeling. Also, I am totally not embarassed to be coding with stick figures in
Ruby. Maybe I have low expectations for myself, but stick figures rule.</p>

  </div>
</article>
