<p>September 26, 2014</p>

<div id="playlist"><iframe width="560" height="315" src="//www.youtube.com/embed/videoseries?list=PLanvKbpjZonS_F8XLEyvoNbrsPWP_UsPH" frameborder="0" allowfullscreen></iframe><br></div>

<p class="caption">(A playlist to help make this blog a dance-party-of-the-mind)</p>

<p class="tab">Today I will be writing about what we have been exploring this
week: <a href="http://en.wikipedia.org/wiki/Sinatra_(software)" target = "_blank">
Sinatra</a> Sinatra is apparently a web application library and
Domain-Specific Language (<a href="http://en.wikipedia.org/wiki/Domain-specific_language"
target="_blank">DSL</a>) that uses Ruby. What exactly is a Domain-Specific Language,
you ask? Uh, I'm not sure really, either, but hopefully by the end of this blog
post I will be able to come up with some kind of answer.</p>

<p class="tab">But let me back off for a little bit and talk about HTML and CSS
and be nostalgic a little bit because it makes me feel good and so that I don't
feel like a total idiot. I got into making webpages when I was 12 (that would be
in 1997) and started off with HTML and dabbled a little in CSS but backed off a
bit because it made me want to cry and there were so many weird tricks to know
that were hard to google because there was no Google, and I had a 56K modem. </p>

<p class="tab">Ruby doesn't really make sense to me, but it makes a lot more sense
to me then </p>
