<p>September 26, 2014</p>

<p class="tab">Today I will be writing about what we have been exploring this
week: <a href="http://en.wikipedia.org/wiki/Sinatra_(software)" target = "_blank">
Sinatra</a>! I was a little weary of Sinatra at first because when I saw the
fedora logo, but once I remembered that Sinatra is <em>Frank Sinatra</em>-themed
and not <a href="http://www.reddit.com/r/neckbeard" target="_blank">neckbeard</a>
themed, I felt much better. </p>
