
<p class="tab">My name is Stephanie Kwak (skwak), and I currently live in
Seattle. I am part of the second cohort at <a href="http://www.adadevelopersacademy.org"
target="_blank">Ada Developers Academy</a>, a year-long software development
training program for women. I moved from Baltimore, MD at the end of August 2014
to attend Ada and will be documenting my experiences here.</p>

<p class = "tab">My background is in the visual arts, but I majored in English
literature in college.</p>

<p class = "tab">You can find me at the following places:</p>

<ul>
    <li><a href="http://www.twitter.com/truekwak" target="_blank">@truekwak</a></li>
    <li><a href="http://www.instagram.com/truekwak" target="_blank">instagram</a><br></li>
    <li><a href="http://thepresentsensorium.tumblr.com" target="_blank">tumblr</a><br></li>
    <li><a href="https://pinboard.in/u:skwak" target="_blank">pinboard</a></li>
</ul>

<p class = "tab">Preferences &#38; Inclinations:</p>

<ul>
  <li><em>comedy</em>: Tim &#38; Eric</li>
  <li><em>spirit animal</em>: cat (duh)</li>
  <li><em>music</em>: John Maus, Lower Dens, Crayon Pop, Blood Orange</li>
  <li><em>writers &#38; poets</em>: Gary Shteyngart, Mark Leidner, Margaret Atwood</li>
  <li><em>art</em>: Nam June Paik, Jenny Holzer, Paper Rad</li>
  <li><em>state of being</em>: sleepy</li>
</ul>
