<h2>ᕦ☀‿☀ᕤ world of skwak proudly presents ᕦ☀‿☀ᕤ: <br>
A BLOG ABOUT EXPERIENCES LEARNING TO CODE</h2>

<div id = "haiku">
<h2>Read all about it:</h2>
<% @posts.each do |post| %>
  <a href = "<%= post.url %>"><%= post.title %></a><br>
<% end %><br>
</p>
</div>

<h2>haiku about blogs</h2>

<div id = "haiku">
<p>do you remember<br>
blogger, owned by pyra labs,<br>
before google time?<br><br>

Sinatra, you are: <br>
domain specific language. <br>
what does it all mean?</p>
</p>


</div>
