<!-- HTML non-best practices :-) -->

<font face = "courier" color = "#920499" size="12">
<p><b>sinatra ☀_☀</b></p>

<p><u>booooooooooooOOOOO00000mmm!</u></p>

<center><p>The current time is <%= Time.now %></center>
</font>
