<h1>ᕦ☀‿☀ᕤ world of skwak proudly presents ᕦ☀‿☀ᕤ:</h1>
<h2 class="title">A BLOG ABOUT LEARNING TO CODE</h2>


<h3>Read all about it:</h3>

<p id="blogroll">
<% @posts.each do |post| %>
  <%= post.date.strftime("%B %d, %Y") %>: <a href="<%= post.url %>"><%= post.title.gsub("-", " ").upcase %></a><br>
<% end %>
</p>

<h3>***********<br><br>
haiku about blogs<br><br>
***********</h3>

<div id="haiku">
<p>do you remember<br>
Blogger, owned by Pyra Labs,<br>
before Google Time?<br><br>

Sinatra, you are: <br>
domain specific language. <br>
what does it all mean?</p>

<h4>TESTING</h4>


</div>
