<!DOCTYPE html>
<html>

  <head>
    <title><%= @title %></title>
      <link rel="shortcut icon" href="/favicon.ico">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata|Source+Code+Pro:300" type="text/css">
      <link rel="stylesheet" href="/design.css" type="text/css">
    </title>
  </head>

  <body>

    <div id="wrap">
      <img class="wordimg" src="/word.jpg">
      <img id="animated" alt="animated gif of typing into MS Word" src="/ada3.gif">

      <nav>
          <a href="/">HOME</a>
          <a href="/about">ABOUT</a>
      </nav>

      <%= yield %>

    <footer>
      <a href="mailto:sk@stephaniekwak.com">sk@stephaniekwak.com</a> <a href="http://www.stephaniekwak.com" target="_blank">stephaniekwak.com</a>
    </footer>

    <img class="wordimg" src="/bottom.jpg">

    </div>

  </body>


</html>
