<!DOCTYPE html>
<html>

  <head>
    <title><%= @title %></title>
      <link rel="shortcut icon" href="/favicon.ico">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata|Source+Code+Pro:300" type="text/css">
      <link rel="stylesheet" href="/design.css" type="text/css">
    </title>
  </head>

  <body>

    <div id = "wrap">
      <img id = "word" src="/word.jpg">
      <img id = "huh" src="/ada3.gif">
      <h1><a href="/">HOME</a>&nbsp;<a href="/about">ABOUT</a></h1>
      <%= yield %>

    <div id="footer">
      <h2><a href="mailto:sk@stephaniekwak.com">sk@stephaniekwak.com</a>&nbsp;&nbsp;  <a href="http://www.stephaniekwak.com" target="_blank">stephaniekwak.com</a></h2>

    </div>
      <img id="wordend" src="/bottom.jpg">
    </div>

  </body>


</html>
