/* FOR ALL PAGES */

html {
    background: -webkit-linear-gradient(left top, #ad9bbe, #68d3e4);
    background: -o-linear-gradient(bottom right, #ad9bbe, #68d3e4);
    background: -moz-linear-gradient(bottom right, #ad9bbe, #68d3e4);
    background: linear-gradient(to bottom right, #ad9bbe, #68d3e4);
}

body {
    margin: 50px;
}

.sidebars {
    position: fixed;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: -5px 10px 40px -3px rgba(100,80,50,10);
    border: 2px;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #7d7171;
}

nav {
    top: 0;
    left: 0;
}

#blogroll {
    text-align: left;
    position: fixed;
    background-color: #ffffff;
    top: 200px;
    left: 0;
    width: 220px;
}

p {
    margin: 0 60px 0 60px;
}

a:link, a:visited {
    color: #87a892;
    text-decoration: none;
}

a:hover {
    background-image: url(../squiggle.gif); /*made this using http://alistapart.com/article/customunderlines*/
    background-repeat: repeat-x;
    background-position: 100% 100%;
    padding-bottom: 4px;
    white-space: nowrap;
}

footer {
    margin: 30px 0 30px 0;
}

#wrap {
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: -11px 20px 40px -2px rgba(100,90,50,1);
    border: 2px;
    border-radius: 5px 5px 0 0;
}

.wordimg {
    width: 100%;
}

.sideimg {
    width:50px;
}

#animated {
    margin: 0 auto;
    width: 300px;
}


/* FONTS R US */

/*made font using fontstruct.com*/
@font-face {
    font-family: "be fancy";
    src: url(../befancy.ttf) format("truetype");
}

.title {
    font-family: "be fancy";
    font-size: 50px;
}

h1, blockquote {
    font-family: "Source Code Pro";
}

h1 {
    font-size: 18px;
}

.caption {
    font-size: 16px;
}

blockquote {
    font-style: italic;
    font-size: 25px;
    line-height: 120%;
}

a, p, ul, table {
    font-family: "Inconsolata";
}

p, ul, a {
    font-size: 20px;
}

p, ul, #blogroll {
    line-height:200%;
}

#blogroll {
    font-family: "Helvetica";
    font-size: 12px;
}

/*text, word, margin spacing as necessary*/
.givespace {
    word-spacing: 15px;
    letter-spacing: 2px;
    margin: 10px;
}

.gomiddle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textcenter {
    text-align: center;
}

/* FOR THE INDEX */

.title {
    color: #7cc8d8;
    text-shadow: 1px 0 0 #9e9595, 0 1px 0 #9e9595, 0 1px 0 #9e9595, 0 1px 0 #9e9595;
}


/* FOR ABOUT PAGE + BLOG POSTS */

.tab {
    text-indent: 60px;
}

.tab + .tab {
    margin-top: 1.5em; }


ul {
    list-style-type: circle;
    margin: 0 60px 0 150px;
}


/* FOR BLOG POSTS */

article {
  margin-top: 1em;
  width:100%;
}

blockquote {
  width: 500px;
  color: #1b4f8f;
}

.blogimage, table {
    width: 600px;
}

table {
    background-color: #fffcda;
    border-collapse: collapse;
}

thead {
    background-color: #dcf8ff;
}

td {
    padding: 1em;
}
