/* FOR ALL PAGES */

html {
    background: -webkit-linear-gradient(left top, #ad9bbe, #68d3e4);
    background: -o-linear-gradient(bottom right, #ad9bbe, #68d3e4);
    background: -moz-linear-gradient(bottom right, #ad9bbe, #68d3e4);
    background: linear-gradient(to bottom right, #ad9bbe, #68d3e4);
}

/*made font using fontstruct.com*/
@font-face {
    font-family: "be fancy";
    src: url(../befancy.ttf) format("truetype");
}

body {
    margin: 50px;
}

.givespace {
    word-spacing: 15px;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px;
}

.sidebars {
    position: fixed;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: -5px 10px 40px -3px rgba(100,80,50,10);
    border: 2px;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #7d7171;
}

nav {
	  top: 0;
    left: 0;
}

#blogroll {
    font-family: "Helvetica";
    text-align: left;
    font-size: 12px;
    line-height: 180%;
    position: fixed;
    background-color: #ffffff;
    top: 200px;
    left: 0;
}

h1, h2, h3 {
    font-family: "Source Code Pro";
    text-align: center;
    margin: 10px 60px 20px 60px;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-family: "Inconsolata";
}

p {
    font-family: "Inconsolata";
    font-size: 20px;
    line-height: 200%;
    margin: 0 60px 0 60px;
}

a:link, a:visited {
    font-family: "Inconsolata";
    font-size: 20px;
    color: #87a892;
    text-decoration: none;
}

a:hover {
    background-image: url(../squiggle.gif); /*made this using http://alistapart.com/article/customunderlines*/
    background-repeat: repeat-x;
    background-position: 100% 100%;
    padding-bottom: 4px;
    white-space: nowrap;
}

footer {
    margin: 30px 0 30px 0;
}

#wrap {
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: -11px 20px 40px -2px rgba(100,90,50,1);
    border: 2px;
    border-radius: 5px 5px 0 0;
}

.wordimg {
    width: 100%;
}

.sideimg {
    width:50px;
}

#animated {
    margin: 0 auto;
    width: 300px;
}

/* FOR THE INDEX */

.title {
    font-family: "be fancy";
    font-style: italic;
    color: #7cc8d8;
    font-size: 50px;
    text-shadow: 1px 0 0 #9e9595, 0 1px 0 #9e9595, 0 1px 0 #9e9595, 0 1px 0 #9e9595;
}


/* FOR ABOUT PAGE + BLOG POSTS */

.tab {
    text-indent: 60px;
}

.tab + .tab {
    margin-top: 1.5em; }

.caption {
    font-size: 15px;
    text-align: center;
}

ul {
    font-family: "Inconsolata";
    font-size: 20px;
    color: #000000;
    list-style-type: circle;
    line-height: 250%;
    margin: 0 60px 0 150px;
}


/* FOR BLOG POSTS */

article {
  margin-top: 1em;
}

blockquote {
  font-family: "Source Code Pro";
  font-size: 25px;
  font-style: italic;
  width: 500px;
  line-height: 120%;
  color: #1b4f8f;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

em {
    text-decoration: underline;
}

.gomiddle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blogimage {
    width: 80%;
}

#playlist {
    text-align: center;
}

table {
    font-family: "Inconsolata";
    background-color: #fffcda;
    border-collapse: collapse;
    width: 80%;
}

thead {
    background-color: #dcf8ff;
}

td {
    padding: 1em;
}
