/* FOR ALL PAGES */

html {
    background: url("tiless.jpg");
    background: -webkit-linear-gradient(left top, #ad9bbe, #68d3e4);
    background: -o-linear-gradient(bottom right, #ad9bbe, #68d3e4);
    background: -moz-linear-gradient(bottom right, #ad9bbe, #68d3e4);
    background: linear-gradient(to bottom right, #ad9bbe, #68d3e4);
}

/*made font using fontstruct.com*/
@font-face {
    font-family: "befancy";
    src: url(befancy.ttf) format("truetype");
}

body {
    margin: 50px;
}

nav, footer {
    word-spacing: 15px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 0 20px 0;
}

nav {
    position: fixed;
	  top: 0px;
	  left: 0px;
    background-color: white;
    padding: 10px;
    margin: 20px 20px 20px 20px;
    box-shadow: -5px 10px 40px -3px rgba(100,80,50,10);
    border: 2px 2px 0 0;
    border-radius: 5px 5px 5px 5px;
}

h1, h2, h3 {
    font-family: "Source Code Pro";
    text-align: center;
    margin: 10px 60px 20px 60px;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-family: "Inconsolata";
}

p {
    font-family: "Inconsolata";
    font-size: 20px;
    line-height: 200%;
    margin: 0 60px 0 60px;
}

a:link, a:visited {
    font-family: "Inconsolata";
    font-size: 20px;
    color: #87a892;
    text-decoration: none;
}

a:hover {
    background-image: url(squiggle.gif); /*made this using http://alistapart.com/article/customunderlines*/
    background-repeat: repeat-x;
    background-position: 100% 100%;
    padding-bottom: 4px;
    white-space: nowrap;
}

footer {
    margin: 30px 0 30px 0;
}

#wrap {
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: -11px 40px 40px -2px rgba(100,90,50,1);
    overflow: scroll;
    border: 2px 2px 0 0;
    border-radius: 5px 5px 0 0;
}

img.wordimg {
    width: 100%;
}

img.sideimg {
    width:50px;
}

#haiku {
    text-align: center;
}

#animated {
    margin: 0 auto;
    width: 300px;
}

/* FOR THE INDEX */

h2.title {
    font-family: "befancy";
    font-style: italic;
    color: #7cc8d8;
    font-size: 50px;
    text-shadow: 1px 0 0 black, 0 1px 0 black, 0 1px 0 black, 0 1px 0 black;
}

/* FOR ABOUT PAGE + BLOG POSTS */

p.tab {
    text-indent: 50px;
}

p.caption {
    font-size: 15px;
    text-align: center;
}

ul {
    font-family: "Inconsolata";
    font-size: 20px;
    color: #000000;
    list-style-type: circle;
    line-height: 250%;
    margin: 0 60px 0 150px;
}

#blogroll {
    text-align: center;
}

/* FOR BLOG POSTS */

blockquote {
  font-family: "Source Code Pro";
  font-size: 25px;
  font-style: italic;
  width: 500px;
  line-height: 120%;
  color: #1b4f8f;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

em {
    text-decoration: underline;
}

img.screenshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#playlist {
    text-align: center;
}
