        <article>

            <h2 class="blog-title">OCTOBER 3, 2014: THE FUTURE</h2>

            <div class="content hide">

              <p class="tab">
                The future is here.
              </p>

            </div>

            </article>
