          <article>

            <h2 class="blog-title">SEPTEMBER 30, 2014: ASSESSMENT TABLE</h2>

            <div class="content hide">

              <p class="tab">
                Here is a table to show you the various subjects
                that we are learning and how much I know, as well as my feelings
                about these various subjects:
              </p>

              <table class="go-middle">
                <thead>
                  <tr>
                    <th>SUBJECT</th>
                    <th>ASSESSMENT OF KNOWLEDGE</th>
                    <th>ENJOYMENT LEVEL</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>CSS &amp; HTML</td>
                    <td>Beginner-Intermediate</td>
                    <td>Need to learn more, but I feel mildly comfortable. I like
                    this.</td>
                  </tr>

                  <tr>
                    <td>Sinatra</td>
                    <td>Beginner</td>
                    <td>This is confusing. So many aspects of what to do! Still,
                    it was fun making this blog. Love/hate relationship.</td>
                  </tr>

                  <tr>
                    <td>Ruby</td>
                    <td>Beginner</td>
                    <td>I was just getting a feel for this. Have I forgetten Ruby?
                    Confused but not as confused as in Week 1.</td>
                  </tr>
                </tbody>
              </table>

              <p class="tab">
                I made the table above to fulfill part of the Personal Website
                Project requirements, but it ended up being...kind of fun? I
                remember when people used to use tables to construct their layouts,
                and I tried to copy them and got really confused. I think this was
                the first time I've made a table that was actually a table!
              </p>

            </div>

          </article>
