<p>September 19, 2014</p>

<p class="tab">So...Ada started about two weeks ago. I think my blood is flowing
more efficiently, and when I touch my head after a  long coding session, it no
longer feels hot to the touch, but it's still pretty warm. I am really fascinated
by all the physical sensations I get while I code. I usually have to take off my
sweater or jacket if I am in a serious coding session. My brain is pumping so much
iron now. Will I have to get a new skull or head to accommodate the new muscles
it's forming?</p>

<p class="tab">I really hope these new muscles are the good kind of muscles in
all the right places and don't end up growing some place weird. It would be just
my luck to find some unnecessary muscles growing out of my ear. I can just imagine
myself looking in the mirror one day and discovering some assymmetrical blobs
sprouting at the top of my head.</p>

<p class="tab">I feel like I am learning a lot. I look at my old code and laugh to myself,
and it feels good. I feel mildly proud of what I do, even though I know what I
am doing might be meager or laughable compared to what others might be doing in the
world. Who cares? I am learning a lot, and I don't need to be a code prodigy to
feel good about that. I feel like this is the first time that I have really
exercised my brain in many, many years, and I'm sweating and gasping for air, for
sure, but it's exhilarating.</p>

<p class="tab"><em>Community Event Wrap-Up</em>: I attended the Women Who Code meet-up
@ Amazon on September 10. I discovered through the meet-up that an Amazon campus
is indeed a campus, more campus-y than any school I've attended. I have been an
Amazon Prime member for a few years and also learned that those employed at
Amazon refer to themselves as "Amazonians". How did I not know that? I'm going to
have to get used to that term.</p>

<p class="tab">There were three talks: one about front-end stuff, another a
personal story about a journey of work and interests at Amazon, and another about
security issues.  A lot that was discussed went over my head, and my mind wandered
to thoughts about grocery-shopping and  Ada class projects -  but I got an inkling
that I might be interested in front-end stuff one day and felt good that the
things I'm learning will be relevant and will be things that people might see
and interact with on a daily basis.</p>

<p class="tab">As someone who has been primarily arts and humanities-focused,
and as a person who still believes in those things but has felt the financial
and emotional constrain of a society that might not believe in those things 100%,
it felt good to know to know that one day I might do relevant, practical,
<em>and</em> creative things pretty soon. I am trying to remember that during
those low moments sometimes when it seems like I'm being assaulted with code.
</p>
