<p>September 19, 2014</p>

<p>I think my blood is flowing more efficiently, and when I touch my head after
a  long coding session, it no longer feels hot to the touch, but it's still
pretty warm. I am really fascinated by all the physical sensations I get while I
code. I usually have to take off my sweater or jacket if I am in a serious
coding session. My brain is pumping so much iron now. Will I have to get a new
skull or head to accommodate the new muscles it's forming?</p>

<p>I really hope these new muscles are the good kind of muscles in all the right
places and somehow don't end up growing somewhere weird like out of my ear or
my head doesn't start to bulge assymmetrical blobs.</p>

<p>I feel like I am learning a lot. I look at my old code and laugh to myself,
and it feels good. I feel mildly proud of what I do, even though I know what I
am doing might be meager or laughable. Maybe that's because I don't know very
many programmers and I worked in visual art for so long, where everything could
be viewed as art, and the standards were possibly very low? Who knows.</p>

<p>The Women Who Code meet-up @ Amazon was a nice experience, and the SLU
campus was exactly what I thought it would be: a campus. The employees seemed
enthusiastic, but I was caught off-guard when they kept referring to themselves
as "Amazonians".</p>
