<article>
  <h2 class="blog-title">OCTOBER 1, 2014: BEER &amp;&amp; CODE</h2>

  <div class="content">

  <p class="tab">A post from the future, after attending Beer &amp;&amp; Code.</p>

  </div>
</article>
