          <article>

            <h2 class="blog-title">OCTOBER 1, 2014: DATE WITH jQuery</h2>

            <div class="content hide">

              <p class="tab">
                jQuery is interesting, I guess!
              </p>

            </div>

          </article>
