        <article>

            <h2 class="blog-title">OCTOBER 1, 2014: DATE WITH jQuery</h2>

            <div class="content hide">

              <p class="tab">
                October has started. Ahhhh! I can't believe how time has
                both gone so slowly and yet so quickly. We have Friday off this
                week, and I'm jumping for joy, as I clutch my Macbook Pro close
                to me as I do so.
              </p>

              <p class="tab">
                But before the three-day weekend, we got a little introduction to
                JavaScript and jQuery. I was pretty excited about this, and I
                find I'm better at googling and collaging together scraps of
                code together in JS than I do in Ruby. I don't know if this is
                because I like to create webpages or if it's just because I have
                more exposure to JS than I do to Ruby or if it's a combination
                of both, even though JS looks kind of like gibberish to me
                most of the time.
              </p>

              <p class="tab">
                JavaScript was written by <a href="http://en.wikipedia.org/wiki/Brendan_Eich" target="_blank">
                Brendan Eich</a>. I remember the controversy over his political
                donation supporting Proposition 8 after he became CEO of Mozilla
                and his subsequent resignation, but I somehow didn't realize he
                developed JS until now. Uh, all these tech controversies make
                me feel confused about what to believe in or support. A
              </p>

            </div>

            </article>
